# SPDX-FileCopyrightText: 2022, 2026 Institute for Common Good Technology
#
# SPDX-License-Identifier: CC-BY-NC-SA-4.0
---
# https://yamllint.readthedocs.io/en/stable/configuration.html#extending-the-default-configuration
extends: default

rules:
  comments-indentation: disable
  line-length: disable
  comments:
    min-spaces-from-content: 1
  braces:
    max-spaces-inside: 1
  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true
